body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

#earth, #moon {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
}

#earth {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/1024px-The_Earth_seen_from_Apollo_17.jpg');
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    animation: rotate-earth 10s linear infinite;
}

#moon {
    top: 10%;
    left: 30%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/1024px-FullMoon2010.jpg');
    animation: rotate-moon 3s linear infinite;
}

@keyframes rotate-earth {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate-moon {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
